.container {
    width: 800px;
    margin: auto;
}
img {
    width: 100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
 /* Hide arrow input number  */
 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.inputNumber {
    width: 20%;
}
.reduce, .raise, .delete,input {
    padding: 5px ;
    margin: 0;
}
.reduce, .raise {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: black;
    background-color: #ddcfcf;
}

.delete{
    padding-left: 12px;
    padding-right: 12px;
    color: #fff;
    background-color: red;
    border-radius: 5px;    
}
button {
    border:1px solid #000;
    cursor: pointer;
}
.totalPrice p {
    float:right;
    margin: 5px;
}
