*{
    margin: 0;
    padding: 0;
}

#header {
    background: url('./resources/images/bg-masthead.jpg') center/cover no-repeat;
    position: relative;
    padding: 6rem 0 5rem 0;
    

}
#comment {
    position: relative;
    padding: 8rem 0 8rem 0 ;
}
#registration{
    background: url('./resources/images/bg-masthead.jpg') center no-repeat;
    position: relative;
    padding: 5rem 0 5rem 0;

}
#footer {
    padding: 3rem 0 2rem 0;
}
