li {
    max-width: 200px;
    height: 50px;
    margin: auto;
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
}
.hex_color {
    background-color: #86DEFA;
}
.RGB_color {
    background-color: rgb(134, 222, 250);
}
.HSL_color {
    background-color: hsl(194, 92%, 75%);
}
.Alpha_color {
    background-color: rgba(134, 222, 250, 0.2);
}