* {
    font-family: 'Lora', serif;
    margin:0;
    padding: 0;
}
body {
    box-sizing: border-box; 
}
.row-1,.row-2,footer {
    display: flex;
  flex-direction: row;
}
ul{
    list-style-type: none;
}
.container {
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.title {
    margin-right: 270px;
}
.title p {
    font-size: 64px;
    margin: 10px 0;
}
.title p:nth-child(1){
    font-size: 36px;
    opacity: 0.2;
}
.title p:nth-child(2){
    font-size: 36px;
    opacity: 0.5;
}
.description p {
    font-size: 30px;
    color:#757575;
    margin:10px 0;
}
.text-grey {
    font-size: 24px;
    margin:10px 0px;
    color: #757575;

    
}

.row-2 div p{
    font-size: 24px;
    color: #757575;
}

.row-2  {
    flex-basis: 600px;       

}
.row-2 img {
    width: 100%;
}
.row-2 div {
margin-right: 20px;}
.sec2 img{
    width: 100%;
}
footer{
    background-color: #000;
    color:#fff;
    display: flex;
    flex-direction: row;
    
}
.contact-info , .contact-us,.like-us {
    flex-basis: 33%;
    height: 250px;
}
.contact-us,.like-us{
    text-align: center;
}
footer h2,footer h4 {
    margin-bottom: 20px;
    margin-top:10px;
}
.contact-info {
    margin-left: 20px;
}
.contact-us {
    background-color: #616161;
}
.like-us{
    background-color: #9e9e9e;
}
footer span {
    margin-left: 10px;
}
/* Responsive*/
@media (max-width: 800px) {
    .row-1,.row-2,footer{
        flex-direction: column;
    }
    .text-grey {
        display: none;
    }

}